<div class="w-full md:max-w-xl 2xl:max-w-4xl mx-auto flex px-8 py-14 md:p-[38px] lg:p-16 justify-center items-center">
    <div
        class="flex 2xl:mt-96 md:bg-white md:rounded-lg md:shadow-xl flex-col items-center justify-center md:p-8 w-full">
        <div class="mb-4">
            <h1 class="font-semibold text-xl leading-9">Create an account</h1>
            <p class="text-xs text-[#C6C8CD]">Enter the fields below to get started.</p>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" class="w-full flex flex-col gap-1">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="usernameFormControl" [errorStateMatcher]="matcher"
                    placeholder="John Doe">
                <!-- <mat-error *ngIf="signupForm.get('usernameFormControl').hasError('required')"> -->
                <mat-error *ngIf="signupForm.get('usernameFormControl')?.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signupForm.get('usernameFormControl')?.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signupForm.get('usernameFormControl')?.hasError('minlength')">
                    Username must be up to 2 character and above
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <!-- <mat-hint>Email is required and must be valid</mat-hint> -->
                <mat-error
                    *ngIf="signupForm.get('emailFormControl').hasError('email') && !signupForm.get('emailFormControl').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="signupForm.get('emailFormControl').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher"
                    [type]="hide ? 'password' : 'text'" placeholder="************">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.get('passwordFormControl').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signupForm.get('passwordFormControl').hasError('minlength')">
                    Password must be up to 8 character and above
                </mat-error>
                <mat-error *ngIf="signupForm.get('passwordFormControl').hasError('pattern')">
                    Password must contain at least 1 uppercase, 1 lower case, 1 number and 1 special character
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPasswordFormControl" [errorStateMatcher]="matcher"
                    [type]="hideConfirm ? 'password' : 'text'" placeholder="************">
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.get('confirmPasswordFormControl').hasError('required')">
                    This feid is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signup.confirmPasswordFormControl.errors?.pwrdMatch">
                    Password <strong>mismatch</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="signupForm.invalid"
                class="bg-blue-700 w-full text-white py-3 md:px-5 px-8 rounded-md hover:bg-blue-600 transition-all ease-in duration-300 font-normal mt-2 focus:outline-none">Create
                an account</button>
        </form>
        <hr class="mt-6 mb-3">
        <p class="text-center">
            <a routerLink="/sign-in" class="text-sm font-medium text-blue-700 hover:underline"> Already have an account?
                Login</a>
        </p>
    </div>
</div>