<app-menu></app-menu>
<div class="w-full bg-[#F8FAFB] lg:mt-20 pt-16">
    <!-- Hero Sec -->
    <div class="max-w-6xl mx-auto flex justify-between items-center md:mb-44 px-4 xl:px-0">
        <div class="w-full md:w-6/12 px-4 flex flex-col gap-4 md:gap-8 mt-12 md:mt-36 md:px-8">
            <div>
                <h1 class="leading-snug font-sans text-4xl lg:text-5xl font-semibold">A New Way Of <br> <span class="text-blue-600">Finance</span></h1>
            </div>
            <p class="text-[#8492a6] text-lg font-normal md:w-96 w-full">Every dollar will counted, every cent will saved, we will improve your financial without cut you happiness.</p>
            <button class="bg-blue-700 text-white py-2.5 md:px-5 px-8 w-40 rounded mb-3 hover:bg-blue-600 transition-all ease-in duration-300"><a routerLink="/sign-up">Register</a></button>
        </div>
        <img src="../../assets/hero-image.svg" alt="" class="hidden md:flex w-5/12 lg:w-6/12">
    </div>
    <!-- Security -->
    <div class="max-w-6xl mx-auto flex justify-between items-center md:mb-44">
        <img src="../../assets/security.svg" alt="" class="hidden md:flex w-5/12">
        <div class="w-full md:w-6/12 px-4 flex flex-col gap-4 md:gap-8 mt-12 md:mt-26 md:px-8">
            <div>
                <h4 class="leading-snug font-sans text-2xl md:text-3xl text-[#4B4F53]">Your Transaction is Secured</h4>
            </div>
            <p class="text-[#8492a6] text-base lg:text-lg font-normal w-full lg:w-96">We will summarize Your income. Your expenses, incomes will showed as graphic chart. Faster, yet easier to understand. No more clumsy report.</p>
        </div>
    </div>
    <!-- Analyse -->
    <div class="max-w-6xl mx-auto flex gap-10 lg:justify-between items-center md:mb-44">
        <div class="w-full md:w-6/12 px-4 flex flex-col gap-4 md:gap-8 mt-12 md:mt-26 md:px-8">
            <div>
                <h4 class="leading-snug font-sans text-2xl md:text-3xl text-[#4B4F53]">Ananyzing and tracking Your Expenses</h4>
            </div>
            <p class="text-[#8492a6] text-base lg:text-lg font-normal w-full lg:w-96">We track every expensess, all Your income. Every cent is classified. The datas served in a beautiful chart.</p>
        </div>
        <img src="../../assets/analyze.svg" alt="" class="hidden md:flex w-5/12">
    </div>
    <!-- Invoice Tracker -->
    <div class="max-w-6xl mx-auto flex gap-10 lg:justify-between items-center md:mb-44">
        <img src="../../assets/invoice-tracker.svg" alt="" class="hidden md:flex w-5/12">
        <div class="w-full md:w-6/12 px-4 flex flex-col gap-4 md:gap-8 mt-12 md:mt-26 md:px-8">
            <div>
                <h4 class="leading-snug font-sans text-2xl md:text-3xl text-[#4B4F53]">Trusted Invoice Tracker</h4>
            </div>
            <p class="text-[#8492a6] text-base lg:text-lg font-normal w-full md:w-96">Create and check invoices just view click. Your client lying did saw the invoice? We will give you a proof</p>
        </div>
    </div>
    <!-- Pay Bills -->
    <div class="max-w-6xl mx-auto flex gap-10 lg:justify-between items-center mb-16 md:mb-44">
        <div class="w-full md:w-6/12 px-4 flex flex-col gap-4 md:gap-8 mt-12 md:mt-26 md:px-8">
            <div>
                <h4 class="hidden md:block leading-snug font-sans text-3xl text-[#4B4F53]">Pay Bills in Seconds</h4>
                <h4 class="md:hidden leading-snug font-sans text-2xl text-[#4B4F53]">Pay Bills in Seconds</h4>
            </div>
            <p class="text-[#8492a6] text-base md:text-lg font-normal md:w-96 w-full">Directly pay Your bills within application. Or buy some game vouchers, internet provider vouchers? Yes You can.</p>
        </div>
        <img src="../../assets/payment2.svg" alt="" class="hidden md:flex w-5/12">
    </div>
    <!-- Get Early Access -->
    <div class="w-full bg-slate-800 flex justify-between items-center px-4 md:px-20 py-20">
        <div class="w-full lg:max-w-6xl md: mx-auto flex flex-col gap-4 text-white">
            <h3 class="text-xl md:text-2xl font-normal">Want to get the early access?</h3>
            <p class="w-full md:w-96 tracking-wide text-sm md:text-base">Write Your email, we will inform you. Everybody hates spam, so we will keep the important thing first.</p>
            <input type="text" class="w-full md:w-96 px-3 py-1.5 text-sm text-gray-600 outline-none" placeholder="Email Here">
            <button class="bg-blue-700 text-white py-2.5 md:px-5 px-8 w-40 rounded mb-3 hover:bg-blue-600 transition-all ease-in duration-300">Register</button>

        </div>
    </div>
</div>
<app-footer></app-footer>